parameters:
    bootstrapFiles:
          - %rootDir%/../../../phpstan-bootstrap.php
    ignoreErrors:
          - '#Variable property access on .*#'
          - '#Variable method call on .*#'
          - '#Instantiated class directapi\\components\\Enum is abstract#'
services:
  -
    class: TheCodingMachine\PHPStan\Rules\Exceptions\EmptyExceptionRule
    tags:
      - phpstan.rules.rule
